extends layout

block content
  section(class="container-fluid content-wrapper game-delete")
    div(class="container")
        div.pb-4(class="row")
            div(class="col-12 ")
                h1.game-delete-title.detail-title.pb-3 Delete: #{game.title}
                p Are you sure you want to delete this game?
                form(action="" method="POST")
                    div.form-group
                        input#gameid.form-control(type="hidden" name="gameid" value=game._id required)
                    button.btn.btn-primary(type="submit") Delete
                   
                

     
