extends layout

block content
  section(class="container-fluid welcome-wrapper content-wrapper")
    div(class="container")
      div(class="text-center welcome")
        h1 Welcome to #{title}
        h3 the best source of video game stocks
        p select from the links above to find games
