extends layout

block content
  section(class="container-fluid content-wrapper all-platforms")
    div(class="container")
        div(class="row")
            div(class="col-12 ")
                h1 All Platforms
                ul.platform-list.all-list.ps-0
                    each platform in platform_list
                        li.mb-1
                            a(href=platform.url) #{platform.name} 

                    else
                        li There are no platforms.
     
