@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* 
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

*/
:root {
  --main: rgb(78, 78, 253);
  --light: #bce784;
  --text-dark: rgb(36, 36, 129);
  --text-light: rgb(249, 249, 249);
  --body: #f9f9f9;

  --c1: #BCE784;
  --c2: #5DD39E;
  --c3: #348AA7;
  --c4: #525174;
  --c5: #513B56;
}

* {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: var(--c3);
}

ul, ol {
  list-style: none;
}

body {
  background-color: var(--c1);
  color: var(--c5);
}

/* LAYOUT */
.header-wrapper {
  background-color: var(--c1);
  border-bottom: 3px solid var(--c4);
}

.logo-link {
  color: inherit;
}

.logo-link:hover {
  color: inherit;
}

.logo {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Walter Turncoat', cursive;
}

.nav-links {
  line-height: 18px;
  font-weight: 900;
}

.nav-links a {
  font-size: .7rem;
  font-weight: 600;
}

.game-links {
  padding: 0 1rem;
  white-space: nowrap;
}

/* INDEX PAGE */
.content-wrapper {
  margin-top: 4rem;
}

.welcome h1{
  font-size: 4rem;
  margin-bottom: 0;
  line-height: .7;
}

/* GAME VIEW */
/* Game List */
.all-list li a {
  font-weight: 700;
}
/* GAME DETAIL */
.detail-title {
  font-size: 4rem;
}


/* Game Form */
#price {
  width: 100px;
}

#status {
  width: 200px;
}
/* Category Form */





